.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: none;
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.125rem;
  white-space: normal;
}

.cardDescription {
  font-size: 0.875rem;
  white-space: normal;
  color: var(--workspace-muted);
}

.nestedList {
  margin-top: 0;
  padding-left: 1.5rem;
  list-style-type: circle;
  font-weight: 400;
  color: var(--ifm-color-emphasis-900);
}

.nestedList a {
  color: var(--ifm-link-color);
  font-weight: 400;
}

.nestedLink {
  text-decoration: none;
  transition: color 0.2s ease;
}

.nestedTitle {
  color: var(--ifm-color-primary);
  font-weight: 600;
}

.nestedColon {
  color: var(--ifm-font-color-base);
}

.nestedDescription {
  color: var(--ifm-font-color-base);
}

.nestedLink:hover .nestedTitle {
  color: var(--ifm-color-primary-dark);
}
